section.number
  .container
    .number-list
      +listNumber("42", "Web Design Projects")
      +listNumber("123", "happy client")
      +listNumber("15", "award winner")
      +listNumber("99", "award winner")
      +listNumber("24", "members")