section.people
  .container
    +blockBoot("Happy Clients", "What people say")
    ul.people-list
      li.people-item
        img.people-avatar(src="../images/img-people1.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit adipisci excepturi debitis dolorum rem aliquid tempore nesciunt voluptatum similique deleniti quibusdam, suscipit placeat odio asperiores quaerat numquam possimus id ipsum.
      li.people-item
        img.people-avatar(src="../images/img-people2.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit adipisci excepturi debitis dolorum rem aliquid tempore nesciunt voluptatum similique deleniti quibusdam, suscipit placeat odio asperiores quaerat numquam possimus id ipsum.
      li.people-item
        img.people-avatar(src="../images/img-people3.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit adipisci excepturi debitis dolorum rem aliquid tempore nesciunt voluptatum similique deleniti quibusdam, suscipit placeat odio asperiores quaerat numquam possimus id ipsum.
      li.people-item
        img.people-avatar(src="../images/img-people4.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job Graphic Design
          p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit adipisci excepturi debitis dolorum rem aliquid tempore nesciunt voluptatum similique deleniti quibusdam, suscipit placeat odio asperiores quaerat numquam possimus id ipsum.