section.service
  .container
    +blockBoot("We work with", "Amazing Services")
    .service-list
      +serviceItem("images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
      +serviceItem("images/img-service-icon1.png", "Photographys", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
      +serviceItem("images/img-service-icon1.png", "Photographys", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
    hr.service-hr
    .service-list
      +serviceItem("images/img-service-icon1.png", "Photographys", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
      +serviceItem("images/img-service-icon2.png", "Photographys", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
      +serviceItem("images/img-service-icon3.png", "Photographys", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")