section.story
  .container
    +blockBoot("Our stories", "Latest blog")
    ul.story-list
      +story("../images/img-blog1.png", "15", "Jan", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero necessitatibus perferendis")
      +story("../images/img-blog2.png", "15", "Jan", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero necessitatibus perferendis")
      +story("../images/img-blog3.png", "15", "Jan", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero necessitatibus perferendis")
section.map
  .container
    .map-content
      img.map-icon(src="../images/img-map-icon.png")
      h2.map-heading Open map


