section.team
  .container
    +blockBoot("Who we are", "Meet our team","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")

    .team-list
      +team("../images/img-team1.png", "Matthew Dix" , "Graphic Design")
      +team("../images/img-team2.png", "Matthew Dix" , "Graphic Design")
      +team("../images/img-team3.png", "Matthew Dix" , "Graphic Design")
      //- .team-item
      //-   .team-main
      //-     img(src="../images/img-team1.png", alt="")
      //-     .team-content
      //-       ul.team-sosial
      //-         li.team-sosial-item
      //-           a.team-sosial-link(href="#")
      //-             i.fab.fa-facebook-f
      //-         li.team-sosial-item
      //-           a.team-sosial-link(href="#")
      //-             i.fab.fa-twitter
      //-         li.team-sosial-item
      //-           a.team-sosial-link(href="#")
      //-             i.fab.fa-pinterest
      //-         li.team-sosial-item
      //-           a.team-sosial-link(href="#")
      //-             i.fab.fa-instagram
      //-   .team-info
      //-     h3.team-info-name Matthew Dix
      //-     span.team-info-desc Graphic Design
section.brand
  .container
    img(src="../images/img-logos.png", alt="")