section.wedo
  .container
    +blockBoot("Service", "What We Do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .wedo_container
      .wedo-layout
        img(src="../images/img-wedo.png", alt="", width="100%")
        .wedo-content
          +wedoContent("../images/img-wedo-icon1.png", "Photograpy", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quisquam optio, alias consequatur, reprehenderit facere enim molestias officiis eum aliquid rem accusantium nisi cupiditate ut commodi pariatur asperiores, quasi voluptas. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quisquam optio, alias consequatur, reprehenderit facere enim molestias officiis eum aliquid rem accusantium nisi cupiditate ut commodi pariatur asperiores, quasi voluptas.", "is-active")
          +wedoContent("../images/img-wedo-icon2.png", "creativity", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quisquam optio, alias consequatur, reprehenderit facere enim molestias officiis eum aliquid rem accusantium nisi cupiditate ut commodi pariatur asperiores, quasi voluptas. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quisquam optio, alias consequatur, reprehenderit facere enim molestias officiis eum aliquid rem accusantium nisi cupiditate ut commodi pariatur asperiores, quasi voluptas.")
          +wedoContent("../images/img-wedo-icon3.png", "web design", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quisquam optio, alias consequatur, reprehenderit facere enim molestias officiis eum aliquid rem accusantium nisi cupiditate ut commodi pariatur asperiores, quasi voluptas. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quisquam optio, alias consequatur, reprehenderit facere enim molestias officiis eum aliquid rem accusantium nisi cupiditate ut commodi pariatur asperiores, quasi voluptas.")
            //- accordion

