section.work
  +blockBoot("What we do", "some of our work" , "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")
  .work-some
    .work-some-one-list
      .work-some-one-list-item
        img(src="../images/img-work1.png", alt="").work-img
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
      .work-some-one-list-item
        img(src="../images/img-work2.png", alt="").work-img
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
    .work-some-true-list
      .work-some-one-list-item
        img(src="../images/img-work3.png", alt="").work-img
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
      .work-some-one-list-item
        img(src="../images/img-work4.png", alt="").work-img
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
    .work-some-three-list
      .work-some-one-list-item
        img(src="../images/img-work5.png", alt="").work-img-full
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
    .work-some-four-list
      .work-some-one-list-item
        img(src="../images/img-work6.png", alt="").work-img
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
      .work-some-one-list-item
        img(src="../images/img-work7.png", alt="").work-img
        .work-some-hover
          i.fa.fa-users
          span.work-some-hover-title Super Team
  .container
    .work-container
      i.fa.fa-angle-left.work-arrow-left.work-arrow
      .work-content
        .work-icon
          img(src="../images/img-quote-avatar.png")
        .work-info
          p.work-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. hi hi hi Suscipit debitis sint, consequuntur nostrum commodi, similique ullam accusamus fugiat hic ad nulla asperiores velit molestias nihil ducimus alias cum consequatur. Necessitatibus?
          span.work-author Joshua Earle
      i.fa.fa-angle-right.work-arrow-right.work-arrow