.footer {
  margin-top: 7.5rem;
  &-top {
    // display: grid;
    // grid-template-columns: 40% 31% 1fr; // 43% 35% 22%
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid $gray-dark-color;
    padding-bottom: 7rem;
  }
  &-column {
    width: calc(25% - 25px);
    &:first-child {
      width: calc(35% - 25px);
    }
    &:nth-child(2) {
      width: calc(40% - 25px);
    }
  }
  &-heading {
    text-transform: uppercase;
    font-weight: 500;
    height: 4rem;
    a {
      color: black;
    }

    &-logo {
      text-transform: none;
      font-size: 4.6rem;
      opacity: 0.3;
      font-weight: bold;
      color: $text-color;
    }
  }
  &-desc {
    line-height: 1.5;
    justify-content: center;
    opacity: 0.5;
    margin-bottom: 4.5rem;
    font-size: normal;
  }
  &-fl {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    border-bottom: 1px solid $text-color;
    strong {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
  &-social {
    margin-top: 1.7rem;
    margin-bottom: 3.9rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    &-list {
      i {
        margin-left: 0.5rem;
      }
    }
  }
  &-form {
    &-input {
      width: 23rem;
      height: 4rem;
      opacity: 0.5;
      font-style: italic;
    }
    &-button {
      width: 15rem;
      height: 4rem;
      text-transform: uppercase;
      color: $gray-light-color;
      background-color: $third-color;
      border: 0;
      margin-left: -4px;
    }
  }
  &-blog {
    display: flex;
    &-info {
      margin-bottom: 3rem;
    }
    &-title {
      padding: 2rem 0 1.1rem 2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      line-height: 1.5;
      font-family: $primary-font;
      font-weight: 600;
    }
    &-date {
      padding: 2rem 0 1.1rem 2rem;
      opacity: 0.5;
    }
  }
  &-list {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    direction: row;
    flex: flex;
    flex-wrap: wrap;
    margin-left: -2px;
    &-item {
      margin-left: 2px;
      width: calc(33.33% - 2px);
      padding-bottom: 2px;
    }
    &-item-img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-view {
    margin-top: 2rem;
    display: block;
  }
  &-bottom {
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    span {
      color: $primary-color;
      margin-left: 3px;
    }
  }
  @media screen and(max-width:1023px) {
    &-top {
      display: block;
    }
    &-column {
      width: 100% !important;
      margin-bottom: 3rem;
    }
  }
}
