.people {
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
    url("../../images/img-people-bg.png") no-repeat center / cover;
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &-item {
    display: flex;
    margin-top: 5.2rem;
  }
  &-avatar {
    margin-left: 4rem;
    max-width: 11rem;
    max-height: 11rem;
  }
  &-info {
    margin-left: 3rem;
  }
  &-job {
    padding-top: 1.4rem;
    padding-bottom: 4.5rem;
    display: block;
    opacity: 0.7;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background-color: red;
      width: 6rem;
      height: 0.3rem;
      top: 4.8rem;
      left: 0;
    }
  }
  &-name {
    font-size: 14pt;
    font-weight: 600;
  }
  &-desc {
    line-height: 1.5;
    opacity: 0.6;
    justify-content: center;
  }
  @media screen and(max-width: 768px) {
    padding-bottom: 5rem;
    &-avatar {
      margin-left: 0px;
    }
    &-list {
      display: block;
    }
    &-item {
      margin-top: 3.2rem;
    }
    &-job {
      padding-bottom: 3.5rem;
    }
    .block-boot-caption {
      padding-top: 6rem;
    }
  }
}
